<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.erp01.mapper.OPABackMapper">

    <insert id="addOPABack" parameterType="java.util.List">
        INSERT INTO opaback(orderName,customerName,bedNumber,jarName,colorName,sizeName,partName,layerCount,packageNumber,tailorQcode) VALUES
        <foreach collection="list" item="opaback" separator=",">
            (#{opaback.orderName},#{opaback.customerName},#{opaback.bedNumber},#{opaback.jarName},#{opaback.colorName},#{opaback.sizeName},#{opaback.partName},#{opaback.layerCount},#{opaback.packageNumber},#{opaback.tailorQcode})
        </foreach>
    </insert>

    <select id="getAllOPABack" resultType="map">
        SELECT * FROM opaback
    </select>

    <select id="opaBackQuery" resultType="String">
        SELECT tailorQcode FROM opaback WHERE
        tailorQcode LIKE CONCAT(#{orderName},'-%-%-%-%-%-%-%-%') AND tailorQcode LIKE CONCAT('%-%-',#{bedNumber},'-%-%-%-%-%-%')
    </select>

    <select id="getOPABackInfoByOrderBedPart" resultType="com.example.erp01.model.OpaQueryLeak">
        SELECT colorName,sizeName,COUNT(packageNumber) as backCount FROM opaback WHERE orderName=#{orderName} AND bedNumber=#{bedNumber} AND partName=#{partName} GROUP BY colorName,sizeName
    </select>


</mapper>