<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.erp01.mapper.OrderProcedureMapper">

    <insert id="addOrderProcedure">
        INSERT INTO orderprocedure(orderName,procedureName,procedurePrice,procedureTime) VALUES (#{orderName},#{procedureName},#{procedurePrice},#{procedureTime})
    </insert>

    <delete id="deleteOrderProcedure">
        DELETE FROM orderprocedure WHERE orderProcedureID=#{orderProcedureID}
    </delete>

    <select id="getOrderProcedureByID" resultType="com.example.erp01.model.OrderProcedure">
        SELECT * FROM orderprocedure WHERE orderProcedureID=#{orderProcedureID}
    </select>

    <select id="getAllOrderProcedure" resultType="com.example.erp01.model.OrderProcedure">
        SELECT * FROM orderprocedure
    </select>

    <select id="getOrderProcedureByName" resultType="com.example.erp01.model.OrderProcedure">
        SELECT * FROM orderprocedure WHERE orderName=#{orderName}
    </select>

    <select id="getProcedureNamesByOrder" resultType="map">
        SELECT procedureName FROM orderprocedure WHERE orderName=#{orderName}
    </select>

    <select id="getPriceByOrderProcedure" resultType="float">
        SELECT procedurePrice FROM orderprocedure WHERE orderName=#{orderName} AND procedureName=#{procedureName}
    </select>

    <select id="getTimeByOrderProcedure" resultType="int">
        SELECT procedureTime FROM orderprocedure WHERE orderName=#{orderName} AND procedureName=#{procedureName}
    </select>

</mapper>